<nav id="navbar" media="(max-width: 1076px)">
	<div id="logo" class="navbar-item">Message Something!</div>
	<!-- <a id="home" class="navbar-item nav-button" href="/"><span class="sc-icon-container"><svg class="sc-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"></svg></span>Home</a> -->
	<!-- <a href="/topics" id="topics-button" class="navbar-item nav-button">Topics</a> -->

	<a href="/login" id="account-button" class="navbar-item nav-button">Login</a>
	<a href="/create-account" style="float:right;" id="create-account-button" class="navbar-item nav-button">Create Account</a>

	<a href="/my-account" style="float:right; margin-right: 15px;"id="account-button2" class="navbar-item nav-button hidden">My Account</a>
	<!-- <a href="/upload" style="float:right;" id="upload-stuff" class="navbar-item nav-button hidden">Upload</a> -->


</nav>
