<ul id="nav-bar">
    <li><a value="home" class="active navbar-items" id="homeButton" href="/">Home</a></li>
    <li><a value="conversations" class="navbar-items" id="convoButton" href="/conversations">Conversations</a></li>
    <li><a value="friends" class="navbar-items" id="friendsButton" href="#friends">Friends</a></li>
    <li><a value="account" class="navbar-items" id="accountButton" href="#account">Account</a></li>
        <!-- Make accounts drop down arrow -->
</ul>
